.DS_Store
*.build/
build/
dev/
examples/audio
examples-dev/
recordings/
_site/
site/
TODO.md
NOTES.md
*.swp
*-test
*-test.cpp
test-*.cpp
*.dSYM
*.o
.lock*
.waf*
docs/html
signal/local.h
.idea
*.so
*.dylib
*.egg-info
.eggs
__pycache__
dist
.cmake-*
.coverage
.ipynb_checkpoints
notebooks/
wheelhouse/
