.DS_Store
*.build/
build/
dev/
examples/audio
examples-dev/
recordings/
_site/
TODO
NOTES
*.swp
*-test
*-test.cpp
test-*.cpp
*.dSYM
*.o
.lock*
.waf*
docs/html
signal/local.h
.idea
*.so
*.dylib
*.egg-info
.eggs
__pycache__
dist
.cmake-*
