body
{
	background: white;
	color: black;
	font-family: "helvetica", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

h1
{
	font-size: 400%;
	margin: 0 0 0.2em;
}
h2
{
	font-size: 230%;
	margin: 0 0 0.5em;
}

h3
{
	font-size: 150%;
	margin: 0 0 0.5em;
	line-height: 1.3em;
}

p
{
	margin: 0 0 1em;
	line-height: 1.4em;
}

a
{
	color: #707;
}

a:hover
{
	color: #f05;
}

hr
{
	clear: both;
	height: 0px;
	border: none;
	border-bottom: 1px solid #eee;
}

#main
{
	width: 53em;
	margin: auto;
}

#top
{
	text-align: center;
	padding-top: 1.0em;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #eee;
}

#footer
{
	clear: both;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 1.5em;
	text-align: center;
}

pre.highlight
{
	line-height: 1.35em;
	background: #2a2245;
	padding: 1em;
	margin: 2em 0em;
	font-size: 95%;
	border-bottom: 1em solid #ddd;
}
pre, code
{
	font-family: menlo, "courier new";
}

.row
{
	clear: both;
}

.box
{
	width: 16em;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	float: left;
}
.intro
{
	font-size: 150%;
}

@media only screen and (max-width: 800px)
{
	#main, #top, img
	{
		width: auto;
		max-width: 100%;
		text-align: left;
	}
	pre
	{
		max-width: 100%;
	}
	.box
	{
		width: auto;
		float: none;
	}
}
