<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="syntax.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	</head>
	<body>
		<div id="main">
			<div id="top">
				<h1>signal</h1>
				<p class="intro">A modern audio synthesis engine, written in c++11.</p>
				<nav>
					<ul>
						<li><a href="/"><i class="fa fa-th-list"></i> Overview</a></li>
						<li><a href="https://github.com/ideoforms/signal"><i class="fa fa-code"></i> Source</a></li>
						<li><a href="https://github.com/ideoforms/signal/tree/master/examples"><i class="fa fa-lightbulb-o"></i> Examples</a></li>
						<li><a href="https://github.com/ideoforms/signal/issues"><i class="fa fa-bug"></i> Issue tracker</a></li>
					</ul>
				</nav>
			</div>
			<div id="content">
				{{ content }}
			</div>
			
			<hr />
			<div id="footer">
				<p>
				Designed and developed by <a href="http://erase.net/">Daniel John Jones</a> (2015-)<br />
				Content <i class="fa fa-creative-commons"></i> <a href="http://creativecommons.org/licenses/by-nc/4.0/">by-nc 4.0</a>
				</p>
			</div>
		</div>
	</body>
</html>
